<h1>Welcome, <%= @user.username %></h1>

<p>Click <a href="/authored">here</a> to view the ethical arguments you've authored.</p>
<p>Click <a href="/subscribed">here</a> to view the ethical arguments you subscribe to.</p>

<h2>Here is a Catalog of all Ethical Arguments Sorted by Topic:</h2>
<% @ethical_arguments.each do |ethical_argument| %>
  <% EthicalArgument.all_topics.each do |topic| %>
    <ul>
      <li><h3><%= topic.capitalize %></h3></li>
        <ul>
          <% if ethical_argument.topic == topic && !ethical_argument.is_private %>
            <li>
              <a href="/ethical_arguments/<%= ethical_argument.id %>"><%= ethical_argument.title %></a>
              <p><%= ethical_argument.summary %>
            </li><br>
          <% end %>
        </ul>
    </ul>
  <% end %>
<% end %>
